<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.commands">
		<category
	    	name="Policy Plugin"
	        id="PoliciesPlugin.commands.category">
	    </category>
	    
	    <command
	        categoryId="PoliciesPlugin.commands.category"
	        id="PoliciesPlugin.commands.PoliciesPlugin"
	        name="Policy Plugin">
	    </command>	    
	</extension>
	
	<extension point="org.eclipse.ui.handlers">
		<handler
			commandId="PoliciesPlugin.commands.PoliciesPlugin"
			class="policiesplugin.handlers.ConsumirEpl">
      	</handler>
    </extension>
   
   <extension point="org.eclipse.ui.menus">
   		<menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=additions">
   			<command
   				commandId="PoliciesPlugin.commands.PoliciesPlugin"
   				mnemonic="M"
   				id="PoliciesPlugin.menus.Policy Plugin">
   			</command>
   		</menuContribution>
   </extension>
   
   <extension point = "org.eclipse.core.resources.markers" 
   		id = "excite.markerId"
   		name = "ExciteMarker">
		<super type = "org.eclipse.core.resources.problemmarker"/>
		<persistent value = "true"/>
		<attribute name = "description"/>
		<super type="org.eclipse.core.resources.textmarker"></super>
	</extension>
	
	<extension point="org.eclipse.ui.views">
		<view id="policiesplugin.handlers.PluginView"
		name="Policy view"
		class="View.PluginView"/>
	</extension>

</plugin>
